.form_delete {
    float: right;
}

.list-group-item .done {
    text-decoration: line-through;
}

.list-group .fa {
    font-size: 1.5em;
    vertical-align: bottom;
}

.title_list {
	float:left;
}

.button {
	float: right;
	margin: 2px;
}
.margin {
margin-top : 20px;
}

input {
	width: 100%;
	cursor: pointer;
}

a {
	cursor: pointer;
}

button {
	cursor: pointer;
}
select {
	width : 100%;
}

.form-margin {
	padding-bottom: 15px;
}

.margin-boucle {
	padding-bottom : 50px;
}

.form-margin-btn {
	padding-bottom: 100px;
}
